<header>
	<div class="content-grid">
		<nav>
			<div class="logo-container">
				<img class="logo" src="images/laz-logo.svg">
				<div class="doc-title">Style Guide</div>
			</div>
			<ul>
				<li><a href="#colors">Colors</a></li>
				<li><a href="#typography">Typography</a></li>
				<li><a href="#buttons">Buttons</a></li>
				<li><a href="#links">Links</a></li>
				<li><a href="#icons">Iconography</a></li>
				<li><a href="#grid">Grid &amp; Layout</a></li>
				<li ><a href="documents/LAM.style.guide.pdf" target="_blank">View Full Guide</a></li>
			</ul>
		</nav>
	</div>
</header>
