---
title: Lazard Asset Management Style Guide
---
<div class="content-grid">
	<div class="style-guide">
		<section id="intro">
			<div class="style-guide-text page-h1">Introduction</div>
			<div class="style-guide-text p">This style guide is intended to serve as a guideline for creating consistent and high-quality style components for Lazard Asset Management. This document was created to educate the team responsible for the creation and maintanence for Lazard Asset Management on what our visual identity or definition of “Contemporary” and “Heritage” means.</div>
		</section>
		<section id="colors">
			<div class="style-guide-text h1">Colors</div>
			<div class="annotation">Below is the color pallete for the site. The main colors used should be the blues and grays. The red and blue-green are used sparingly for highlights.</div>
			<div class="style-guide-text h2">Primary</div>
			<div class="color-grid">
				<div class="color-item">
					<div class="color" id="color-1">
					</div>
					<div class="style-guide-text desc">laz-black</div>
					<div class="style-guide-text desc">#23283c</div>
				</div>
				<div class="color-item">
					<div class="color" id="color-2">
					</div>
					<div class="style-guide-text desc">laz-blue</div>
					<div class="style-guide-text desc">#175c89</div>
				</div>
				<div class="color-item">
					<div class="color" id="color-3">
					</div>
					<div class="style-guide-text desc">laz-pale-blue</div>
					<div class="style-guide-text desc">#c7d4dd</div>
				</div>
				<div class="color-item">
					<div class="color" id="color-4">
					</div>
					<div class="style-guide-text desc">laz-yellow</div>
					<div class="style-guide-text desc">#ffb500</div>
				</div>
				<div class="color-item">
					<div class="color" id="color-5">
					</div>
					<div class="style-guide-text desc">laz-blue-green</div>
					<div class="style-guide-text desc">#00b0af</div>
				</div>
				<div class="color-item">
					<div class="color" id="color-6">
					</div>
					<div class="style-guide-text desc">laz-gray</div>
					<div class="style-guide-text desc">#4f4f4f</div>
				</div>
			</div>
		</section>
		<section id="typography">
			<div class="style-guide-text h1">Font-Family &amp; Typography</div>
			<div class="style-guide-text h2">Font Family</div>
			<div class="font-info">
				<h2 class="sans light">Roboto</h2>
				<div class="style-guide-text h2">Styles</div>
					<ul>
						<li>Light</li>
						<li>Regular</li>
						<li>Italic</li>
						<li>Bold</li>
					</ul>
			</div>
			<div class="style-guide-text h2">Headings</div>
			<div class="type-item">
				<h1 class="sans light">Page Heading Sans</h1>
				<div class="style-guide-text desc type">Roboto - Light - 2.8em</div>
			</div>
			<div class="type-item">
				<h2 class="sans light">Section Heading Sans</h2>
				<div class="style-guide-text desc type">Roboto - Light - 2.8em</div>
			</div>
			<div class="type-item">
				<h3 class="sans light">Section Heading Small Sans</h3>
				<div class="style-guide-text desc type" class="type">Roboto - Light - 2.8em</div>
			</div>
			<div class="type-item">
				<h4 class="sans light">Small Heading Sans</h4>
				<div class="style-guide-text desc type" class="type">Roboto - Light - 2.8em</div>
			</div>
			<div class="type-item">
				<h4 class="sans bold">Small Heading Bold Sans</h4>
				<div class="style-guide-text desc type">Roboto - Light - 2.8em</div>
			</div>
			<div class="type-item">
				<h1 class="serif regular">Page Heading Serif</h1>
				<div class="style-guide-text desc type">Garamond - Light - 2.8em</div>
			</div>
			<div class="type-item">
				<h2 class="serif regular">Page Heading Serif</h2>
				<div class="style-guide-text desc type">Garamond - Light - 2.8em</div>
			</div>
			<div class="type-item">
				<h3 class="serif regular">Page Heading Serif</h3>
				<div class="style-guide-text desc type">Garamond - Light - 2.8em</div>
			</div>
			<div class="style-guide-text h2">Body Text</div>
			<div class="type-item">
				<p class="sans regular s">Regular Sans. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Excepteur sint obcaecat cupiditat non proident culpa.</p>
				<div class="style-guide-text desc type">Garamond - Light - 2.8em</div>
			</div>
			<div class="type-item">
				<p class="sans bold s">Regular Sans bold. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Excepteur sint obcaecat cupiditat non proident culpa. Magna pars studiorum, prodita quaerimus.</p>
				<div class="style-guide-text desc type">Garamond - Light - 2.8em</div>
			</div>
			<div class="type-item">
				<p class="sans bold xs">Small Sans bold. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Excepteur sint obcaecat cupiditat non proident culpa. Magna pars studiorum, prodita quaerimus.</p>
				<div class="style-guide-text desc type">Garamond - Light - 2.8em</div>
			</div>
			<div class="type-item">
				<p class="sans regular xs">Small Sans. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Excepteur sint obcaecat cupiditat non proident culpa. Magna pars studiorum, prodita quaerimus.</p>
				<div class="style-guide-text desc type">Garamond - Light - 2.8em</div>
			</div>
			<div class="type-item">
				<p class="sans regular xs">Small Sans. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Excepteur sint obcaecat cupiditat non proident culpa. Magna pars studiorum, prodita quaerimus.</p>
				<div class="style-guide-text desc type">Garamond - Light - 2.8em</div>
			</div>
			<div class="type-item">
				<p class="sans bold xxs">Small Sans bold. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Excepteur sint obcaecat cupiditat non proident culpa. Magna pars studiorum, prodita quaerimus.</p>
				<div class="style-guide-text desc type">Garamond - Light - 2.8em</div>
			</div>
			<div class="type-item">
				<p class="serif regular m">Paragraph text. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Excepteur sint obcaecat cupiditat non proident culpa. Magna pars studiorum, prodita quaerimus.</p>
				<div class="style-guide-text desc type">Garamond - Light - 2.8em</div>
			</div>
			<div class="type-item">
				<p class="serif regular s">Small Serif. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Excepteur sint obcaecat cupiditat non proident culpa. Magna pars studiorum, prodita quaerimus.</p>
				<div class="style-guide-text desc type">Garamond - Light - 2.8em</div>
			</div>
		</section>
		<section id="buttons">
			<div class="style-guide-text h1">Buttons</div>
			<div class="style-guide-text h2">Primary</div>
			<button class="primary"><h4 class="sans light">Primary</h4></button>
			<div class="style-guide-text h2">Secondary</div>
			<button class="secondary"><p class="sans regular s">Secondary</p><h3 class="icon ion-ios-arrow-right"></h3></button>
			<div class="style-guide-text h2">Featured</div>
			<button class="secondary research"><p class="serif bold m">Research</p><h2 class="icon ion-ios-arrow-thin-right"></h2></button>
			<div class="style-guide-text h2">Cookie Disclaimer</div>
			<button class="primary cookie"><h4 class="sans light">Done</h4></button>
			<div class="style-guide-text h2">Filter Pills</div>
			<button class="filter"><p class="xs sans">Fixed Income</p></button>
		</section>
		<section id="links">
			<div class="style-guide-text h1">Links</div>
			<div class="style-guide-text h2">Text Links</div>
			<a class="text-link">This is a link</a>
			<div class="style-guide-text h2">Page Links</div>
			<a class="text-link"><div class="link-box"><div class="page-link">Contact Our Team</div><i class="icon ion-ios-arrow-right"></i></div></a>

		</section>
		<section id="icons">
			<div class="style-guide-text h1">Iconography</div>
			<div class="annotation">Icons come from <a href="http://ionicons.com/" target="_blank">Ionicons</a></div>	
			<ul class="list-columns">
				<li class="items-2"><h3 class="icon ion-android-arrow-dropdown display"></h3>ion-android-arrow-dropdown</li>
				<li class="items-2"><h3 class="icon ion-android-arrow-dropup display"></h3>ion-android-arrow-dropup</li>
				<li class="items-2"><h3 class="icon ion-ios-arrow-right display"></h3>ion-ios-arrow-right</li>
				<li class="items-2"><h3 class="icon ion-ios-arrow-left display"></h3>ion-ios-arrow-left</li>
				<li class="items-2"><h3 class="icon ion-ios-arrow-thin-right display"></h3>ion-ios-arrow-thin-right</li>
				<li class="items-2"><h3 class="icon ion-plus-round display"></h3>ion-plus-round</li>
				<li class="items-2"><h3 class="icon ion-minus-round display"></h3>ion-minus-round</li>
				<li class="items-2"><h3 class="icon ion-ios-close-empty display"></h3>ion-ios-close-empty</li>
				<li class="items-2"><h3 class="icon ion-android-done display"></h3>ion-android-done</li>
				<li class="items-2"><h3 class="icon ion-ios-search-strong display"></h3>ion-ios-search-strong</li>
				<li class="items-2"><h3 class="icon ion-bookmark display"></h3>ion-bookmark</li>
				<li class="items-2"><h3 class="icon ion-android-globe display"></h3>ion-android-globe</li>
				<li class="items-2"><h3 class="icon ion-briefcase display"></h3>ion-briefcase</li>
				<li class="items-2"><h3 class="icon ion-locked display"></h3>ion-locked</li>
				<li class="items-2"><h3 class="icon ion-ios-videocam display"></h3>ion-ios-videocam</li>
				<li class="items-2"><h3 class="icon ion-document display"></h3>ion-document</li>
			</ul>	
		</section>
		<section id="Grid-Layout">
			<div class="style-guide-text h1">Grid and Layout</div>
			<div class="annotation">
				<div class="style-guide-text annotation-text">The site uses a 12-column gird which can be split into 2,3,4, or 6 column layout. There are slight variations of these layouts and differening mobile behaviors of these layouts.</div>
				<ul class="style-guide-text annotation-text">
					<li class="style-guide-text annotation-text"><b>Default Grid Settings:</b></li>
					<li class="style-guide-text annotation-text">$max-width: 1120px;</li>
					<li class="style-guide-text annotation-text">$grid-columns: 12;</li>
					<li class="style-guide-text annotation-text">$column: 64px;</li>
					<li class="style-guide-text annotation-text">$gutter: 26.5px;</li>
				</ul>
			</div>
			<div class="layout-section">
				<div class="content-grid">
					<div class="sg-col col-12"><div class="style-guide-text p">col-12</div></div>
				</div>
			</div>
			<div class="layout-section">
				<div class="content-grid">
					<div class="sg-col col-8"><div class="style-guide-text p">col-8</div></div>
					<div class="sg-col col-4"><div class="style-guide-text p">col-4</div></div>
				</div>
			</div>
			<div class="layout-section">
				<div class="content-grid">
					<div class="sg-col col-6"><div class="style-guide-text p">col-6</div></div>
					<div class="sg-col col-6"><div class="style-guide-text p">col-6</div></div>
				</div>
			</div>
			<div class="layout-section">
				<div class="content-grid">
					<div class="sg-col col-4"><div class="style-guide-text p">col-4</div></div>
					<div class="sg-col col-4"><div class="style-guide-text p">col-4</div></div>
					<div class="sg-col col-4"><div class="style-guide-text p">col-4</div></div>
				</div>
			</div>
			<div class="layout-section">
				<div class="content-grid">
					<div class="sg-col col-3"><div class="style-guide-text p">col-3</div></div>
					<div class="sg-col col-3"><div class="style-guide-text p">col-3</div></div>
					<div class="sg-col col-3"><div class="style-guide-text p">col-3</div></div>
					<div class="sg-col col-3"><div class="style-guide-text p">col-3</div></div>
				</div>
			</div>
			<div class="layout-section">
				<div class="content-grid">
					<div class="sg-col col-1"><div class="style-guide-text p">col-1</div></div>
					<div class="sg-col col-1"><div class="style-guide-text p">col-1</div></div>
					<div class="sg-col col-1"><div class="style-guide-text p">col-1</div></div>
					<div class="sg-col col-1"><div class="style-guide-text p">col-1</div></div>
					<div class="sg-col col-1"><div class="style-guide-text p">col-1</div></div>
					<div class="sg-col col-1"><div class="style-guide-text p">col-1</div></div>
					<div class="sg-col col-1"><div class="style-guide-text p">col-1</div></div>
					<div class="sg-col col-1"><div class="style-guide-text p">col-1</div></div>
					<div class="sg-col col-1"><div class="style-guide-text p">col-1</div></div>
					<div class="sg-col col-1"><div class="style-guide-text p">col-1</div></div>
					<div class="sg-col col-1"><div class="style-guide-text p">col-1</div></div>
					<div class="sg-col col-1"><div class="style-guide-text p">col-1</div></div>
				</div>
			</div>
		</section>
		<section id="Components">
			<div class="style-guide-text h1">Components</div>
			<div class="style-guide-text h2">Tabs</div>
			<div class="component">
				<div class="table-tab-bar col-8">
					<ul>
						<li class="li-inline focus">Sector</li>
					</ul>
				</div>
			</div>
			<div class="style-guide-text h2">Toggles</div>

		</section>
	</div>
</div>